.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login__card {
    width: 100%;
    max-width: 400px;
}

.login__footer {
    width: 100%;
    text-align: center;
}